{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <h1>Panier</h1>
    {% if cart is empty %}
        <div class="container text-center">
            <p>Aucun article dans le panier!</p>
            <a class="btn btn-primary" href="{{ path('offers') }}">Voir nos offres</a>
        </div>
    {% else %}
        <div class="container">
            <div class="col-md-9" name="LeftSide">
                {% for offer in cart %}
                    <div class="card mx-3 mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h1 class="card-title">{{ offer[0].title }}</h1>
                                    <p class="card-text text-truncate">
                                        {{ offer[0].description }}
                                    </p>
                                    <p class="card-text">
                                        <strong class="text-body-secondary">
                                        <i class="bi-calendar-event"></i> {{ offer[0].startdate|date("l d/m/Y") }}
                                        de {{ offer[0].startdate|date("H:i") }} à {{ offer[0].enddate|date("H:i") }}
                                        </strong>
                                    </p>
                                    <p class="card-text">
                                        <strong class="text-body-secondary">
                                        <i class="bi-pin-map"></i> {{ offer[0].location }}</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 text-end">
                                <p>Type de place : {{ offer[1] }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="vr"></div>
            <div class="col-md-3" name="RightSide">
                <div class="border rounded">

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
