{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% set totalPrice = 0 %}

{% block body %}
    <h1>Panier</h1>
    {% if cart is empty %}
        <div class="container text-center">
            <p>Aucun article dans le panier!</p>
            <a class="btn btn-primary" href="{{ path('offers') }}">Voir nos offres</a>
        </div>
    {% else %}
        <div class="container flex">
            <div class="row">
                <div class="col-md-9" name="LeftSide">
                    {% for offer in cart %}
                    {% set priceCents = offer[0].price %}
                    {% set priceInEuros = priceCents / 100 %}
                    {% set formattedPrice = priceInEuros | number_format(2, ',', ' ') ~ '€' %}
                        <div class="card px-3 mb-3">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h1 class="card-title">{{ offer[0].title }}</h1>
                                        <p class="card-text text-truncate">
                                            {{ offer[0].description }}
                                        </p>
                                        <p class="card-text">
                                            <strong class="text-body-secondary">
                                            <i class="bi-calendar-event"></i> {{ offer[0].startdate|date("l d/m/Y") }}
                                            de {{ offer[0].startdate|date("H:i") }} à {{ offer[0].enddate|date("H:i") }}
                                            </strong>
                                        </p>
                                        <p class="card-text">
                                            <strong class="text-body-secondary">
                                            <i class="bi-pin-map"></i> {{ offer[0].location }}</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 text-end">
                                    <p>Prix de base : {{ formattedPrice }}</p>
                                    <p>Type de place : {{ offer[1] }}</p>
                                    <form method="POST" action="{{ path('cart_remove') }}">
                                        <input type="hidden" name="offerIndex" value="{{ loop.index0 }}">
                                        <button type="submit" class="btn btn-danger w-100">Retirer du panier</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% set totalPrice = totalPrice + offer[0].price %}
                    {% endfor %}
                    {% set priceCents = totalPrice %}
                    {% set priceInEuros = priceCents / 100 %}
                    {% set formattedPrice = priceInEuros | number_format(2, ',', ' ') ~ '€' %}
                </div>
                <div class="col-md-3" name="RightSide">
                    <div class="border rounded p-3">
                        <h2>Votre commande</h2>
                        <p>Nombres d'éléments : <strong>{{cart|length}}</strong></p>
                        <hr>
                        <p>Prix total : {{ formattedPrice }}</p>
                        {% if app.user %}
                            <form method="POST" action="{{ path('cart_buy') }}">
                                <button type="submit" class="btn btn-outline-primary">Passer commande</button>
                            </form>
                            
                        {% else %}
                            <p>Pour passez commande vous devez créer un compte ou vous connecter.</p>
                            <a class="btn btn-outline-primary" href="{{ path('account_connection') }}">Connexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
